.Rproj.user
.Rhistory
.RData
.Ruserdata
ex-data
raw-data-2008
raw-data-2013
.DS_Store
data/data-config
data/data-format
data/data-grid
data/data-raw
my_plot
figures
data/data-stressors/
delete.R
ouput 
map.geojson
*.geojson
*gpkg
data/
output/
res_terra_edit_moresp.csv
res_terra_edit.csv
res_terra_moresp.csv
*.zip
*.textClipping
ouput
*.png
csvs/
stk-plot-test/
tables/
trends/
figures/

