.Rproj.user
.Rhistory
.RData
.Ruserdata
ex-data
raw-data-2008
raw-data-2013
.DS_Store
data/data-config
data/data-format
data/data-grid
data/data-raw
my_plot
figures
data/data-stressors/
delete.R
ouput 
map.geojson
